* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 100px;
  background-color: #ffffff; }
  nav .nav-main {
    position: absolute;
    width: 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 4px 0 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 7px 0 rgba(0, 0, 0, 0.1);
    z-index: 100; }
    nav .nav-main .nav-top {
      height: 100px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      nav .nav-main .nav-top .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100px;
        height: 100px;
        background-color: #C13C51;
        padding: 20px;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        nav .nav-main .nav-top .logo a img {
          height: 100%;
          width: 100%; }
        nav .nav-main .nav-top .logo:hover {
          background-color: #a13348; }
    nav .nav-main .nav-middle {
      height: calc(100% - 100px);
      width: 100%; }
      nav .nav-main .nav-middle .text-wrapper {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        nav .nav-main .nav-middle .text-wrapper p {
          margin-left: 32px;
          margin-top: 30px;
          color: #444444;
          font-size: 3rem;
          font-family: 'nagayama_kai', sans-serif;
          font-weight: bold; }
    nav .nav-main .nav-bottom {
      height: 10%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      nav .nav-main .nav-bottom .menu-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #444444;
        font-size: 3rem;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        nav .nav-main .nav-bottom .menu-btn i {
          margin-left: 35px;
          cursor: pointer; }
        nav .nav-main .nav-bottom .menu-btn:hover {
          color: #C13C51; }
  nav .nav-menu {
    height: 100%;
    width: 300px;
    padding: 30px 60px;
    position: absolute;
    left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 90;
    -webkit-box-shadow: 4px 0 7px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 7px 0 rgba(0, 0, 0, 0.1); }
    nav .nav-menu .nav-menu-top {
      height: 20%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: right; }
      nav .nav-menu .nav-menu-top p {
        color: #444444;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.8rem;
        padding-right: 5px; }
      nav .nav-menu .nav-menu-top a {
        color: #444444;
        font-size: 1.8rem;
        margin: 0 8px;
        padding-top: 5px; }
    nav .nav-menu .nav-menu-middle {
      height: 52%;
      width: 100%; }
    nav .nav-menu .nav-menu-bottom {
      height: 28%;
      width: 100%;
      margin-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      nav .nav-menu .nav-menu-bottom .nav-item {
        padding-bottom: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        nav .nav-menu .nav-menu-bottom .nav-item .dot {
          height: 17px;
          width: 17px;
          margin-top: 10px;
          margin-right: 15px;
          border-radius: 25px; }
        nav .nav-menu .nav-menu-bottom .nav-item .home-dot {
          background-color: #C13C51; }
        nav .nav-menu .nav-menu-bottom .nav-item a {
          color: #444444;
          text-decoration: none;
          font-size: 2.5rem;
          font-family: 'Open Sans', sans-serif; }

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main .home-main-wrapper {
    width: 100vw;
    height: 100%; }
    main .home-main-wrapper .home-top {
      width: 100%;
      height: 50%; }
      main .home-main-wrapper .home-top .text {
        padding: 8% 0 0 7%; }
        main .home-main-wrapper .home-top .text .explore a button {
          border: none;
          background-color: #C13C51;
          padding: 18px 22px;
          margin-bottom: 15px;
          font-size: 1.4rem;
          cursor: pointer;
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          text-align: left;
          color: #ffffff;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
          main .home-main-wrapper .home-top .text .explore a button:hover {
            background-color: #a13348; }
        main .home-main-wrapper .home-top .text .arch p {
          font-size: 5.5rem;
          letter-spacing: 4.75px;
          font-family: 'Lora', serif; }
    main .home-main-wrapper .home-bottom {
      height: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 100px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      main .home-main-wrapper .home-bottom .links {
        width: 1000px;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #ffffff; }
        main .home-main-wrapper .home-bottom .links .item {
          width: 33.33%;
          padding: 30px 60px 0 60px; }
          main .home-main-wrapper .home-bottom .links .item a {
            color: #000000;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            -webkit-transition: all .1s ease-in-out;
            -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out; }
            main .home-main-wrapper .home-bottom .links .item a h1 {
              font-size: 2.4rem;
              font-weight: bold; }
            main .home-main-wrapper .home-bottom .links .item a p {
              font-size: 2rem; }
            main .home-main-wrapper .home-bottom .links .item a:hover {
              color: #C13C51; }
    main .home-main-wrapper img {
      position: absolute;
      height: 80%;
      top: 10%;
      right: 0;
      z-index: -10; }

main {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main .explore-main-wrapper, main .element-main-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    main .explore-main-wrapper .explore-left, main .explore-main-wrapper .element-left, main .element-main-wrapper .explore-left, main .element-main-wrapper .element-left {
      height: 100%;
      width: 60%;
      padding: 100px;
      margin-bottom: 100px; }
      main .explore-main-wrapper .explore-left .back, main .explore-main-wrapper .element-left .back, main .element-main-wrapper .explore-left .back, main .element-main-wrapper .element-left .back {
        color: #C13C51;
        font-style: italic;
        text-decoration: none;
        font-size: 1.4rem; }
        main .explore-main-wrapper .explore-left .back:hover, main .explore-main-wrapper .element-left .back:hover, main .element-main-wrapper .explore-left .back:hover, main .element-main-wrapper .element-left .back:hover {
          text-decoration: underline; }
      main .explore-main-wrapper .explore-left h3, main .explore-main-wrapper .element-left h3, main .element-main-wrapper .explore-left h3, main .element-main-wrapper .element-left h3 {
        padding-top: 20px;
        font-size: 30px;
        font-family: 'Sawarabi Mincho', sans-serif;
        color: #C13C51;
        margin-bottom: 0;
        margin-right: 10px; }
      main .explore-main-wrapper .explore-left h2, main .explore-main-wrapper .element-left h2, main .element-main-wrapper .explore-left h2, main .element-main-wrapper .element-left h2 {
        font-size: 40px;
        margin-top: -8px;
        color: #333333;
        font-weight: bold;
        font-family: 'Lora', serif; }
      main .explore-main-wrapper .explore-left p, main .explore-main-wrapper .element-left p, main .element-main-wrapper .explore-left p, main .element-main-wrapper .element-left p {
        font-size: 25px;
        color: #333333;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
        padding-bottom: 6px; }
      main .explore-main-wrapper .explore-left .content-bar, main .explore-main-wrapper .element-left .content-bar, main .element-main-wrapper .explore-left .content-bar, main .element-main-wrapper .element-left .content-bar {
        padding-bottom: 25px; }
        main .explore-main-wrapper .explore-left .content-bar span, main .explore-main-wrapper .element-left .content-bar span, main .element-main-wrapper .explore-left .content-bar span, main .element-main-wrapper .element-left .content-bar span {
          color: #C13C51;
          font-weight: bold; }
        main .explore-main-wrapper .explore-left .content-bar p a, main .explore-main-wrapper .element-left .content-bar p a, main .element-main-wrapper .explore-left .content-bar p a, main .element-main-wrapper .element-left .content-bar p a {
          color: #C13C51;
          font-style: italic;
          text-decoration: none; }
          main .explore-main-wrapper .explore-left .content-bar p a:hover, main .explore-main-wrapper .element-left .content-bar p a:hover, main .element-main-wrapper .explore-left .content-bar p a:hover, main .element-main-wrapper .element-left .content-bar p a:hover {
            text-decoration: underline; }
        main .explore-main-wrapper .explore-left .content-bar h4, main .explore-main-wrapper .element-left .content-bar h4, main .element-main-wrapper .explore-left .content-bar h4, main .element-main-wrapper .element-left .content-bar h4 {
          font-size: 2.5rem;
          font-style: italic;
          color: #C13C51;
          padding-top: 20px; }
      main .explore-main-wrapper .explore-left .content-links, main .explore-main-wrapper .element-left .content-links, main .element-main-wrapper .explore-left .content-links, main .element-main-wrapper .element-left .content-links {
        margin-bottom: 80px; }
        main .explore-main-wrapper .explore-left .content-links p, main .explore-main-wrapper .element-left .content-links p, main .element-main-wrapper .explore-left .content-links p, main .element-main-wrapper .element-left .content-links p {
          color: #C13C51;
          font-weight: bold; }
        main .explore-main-wrapper .explore-left .content-links a, main .explore-main-wrapper .element-left .content-links a, main .element-main-wrapper .explore-left .content-links a, main .element-main-wrapper .element-left .content-links a {
          padding: 5px 10px;
          border: 1px solid #C13C51;
          background-color: #ffffff;
          color: #C13C51;
          font-size: 20px;
          text-decoration: none;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
          main .explore-main-wrapper .explore-left .content-links a:hover, main .explore-main-wrapper .element-left .content-links a:hover, main .element-main-wrapper .explore-left .content-links a:hover, main .element-main-wrapper .element-left .content-links a:hover {
            background-color: #C13C51;
            color: #ffffff; }
    main .explore-main-wrapper .element-left, main .element-main-wrapper .element-left {
      width: 65%; }
    main .explore-main-wrapper .explore-right, main .explore-main-wrapper .element-right, main .element-main-wrapper .explore-right, main .element-main-wrapper .element-right {
      height: 100%;
      width: 40%; }
      main .explore-main-wrapper .explore-right .img, main .explore-main-wrapper .element-right .img, main .element-main-wrapper .explore-right .img, main .element-main-wrapper .element-right .img {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
        main .explore-main-wrapper .explore-right .img img, main .explore-main-wrapper .element-right .img img, main .element-main-wrapper .explore-right .img img, main .element-main-wrapper .element-right .img img {
          width: 100%;
          height: 100%;
          top: 0;
          right: 0; }
        main .explore-main-wrapper .explore-right .img i, main .explore-main-wrapper .element-right .img i, main .element-main-wrapper .explore-right .img i, main .element-main-wrapper .element-right .img i {
          font-size: 10px; }
        main .explore-main-wrapper .explore-right .img a, main .explore-main-wrapper .element-right .img a, main .element-main-wrapper .explore-right .img a, main .element-main-wrapper .element-right .img a {
          font-size: 12px;
          padding: 5px 5px 0 0;
          color: #444444;
          font-style: italic;
          margin-bottom: 40px; }
    main .explore-main-wrapper .element-right, main .element-main-wrapper .element-right {
      width: 35%; }

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main .elements-main-wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main .elements-main-wrapper .elements-left, main .elements-main-wrapper .elements-center, main .elements-main-wrapper .elements-right {
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      main .elements-main-wrapper .elements-left .title-bar, main .elements-main-wrapper .elements-center .title-bar, main .elements-main-wrapper .elements-right .title-bar {
        padding-top: 80px; }
        main .elements-main-wrapper .elements-left .title-bar h3, main .elements-main-wrapper .elements-center .title-bar h3, main .elements-main-wrapper .elements-right .title-bar h3 {
          padding-top: 20px;
          font-size: 30px;
          font-family: 'Sawarabi Mincho', sans-serif;
          color: #C13C51;
          margin-bottom: 0;
          margin-right: 10px; }
        main .elements-main-wrapper .elements-left .title-bar h2, main .elements-main-wrapper .elements-center .title-bar h2, main .elements-main-wrapper .elements-right .title-bar h2 {
          font-size: 40px;
          margin-top: -8px;
          color: #333333;
          font-weight: bold;
          font-family: 'Lora', serif;
          padding-bottom: 30px; }
      main .elements-main-wrapper .elements-left .element-nav, main .elements-main-wrapper .elements-center .element-nav, main .elements-main-wrapper .elements-right .element-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        main .elements-main-wrapper .elements-left .element-nav a, main .elements-main-wrapper .elements-center .element-nav a, main .elements-main-wrapper .elements-right .element-nav a {
          font-family: 'Lora', serif;
          font-size: 2.5rem;
          color: #333333;
          text-decoration: none;
          padding-bottom: 20px;
          -webkit-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
          main .elements-main-wrapper .elements-left .element-nav a:hover, main .elements-main-wrapper .elements-center .element-nav a:hover, main .elements-main-wrapper .elements-right .element-nav a:hover {
            color: #C13C51; }
        main .elements-main-wrapper .elements-left .element-nav .disabled:hover, main .elements-main-wrapper .elements-center .element-nav .disabled:hover, main .elements-main-wrapper .elements-right .element-nav .disabled:hover {
          color: rgba(74, 74, 74, 0.63); }
    main .elements-main-wrapper .elements-left {
      padding: 0 50px 0 100px; }
    main .elements-main-wrapper .elements-center {
      padding: 230px 0 0 0; }
    main .elements-main-wrapper .elements-right {
      padding: 230px 100px 0 50px; }

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main .citations-main-wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    main .citations-main-wrapper .cite-left {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 50px 0 100px; }
      main .citations-main-wrapper .cite-left .citation {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        padding-bottom: 20px;
        text-indent: -28px; }
        main .citations-main-wrapper .cite-left .citation span {
          color: #C13C51; }
    main .citations-main-wrapper .cite-right {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 100px 0 50px; }
      main .citations-main-wrapper .cite-right .citation {
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        padding-bottom: 20px;
        text-indent: -28px; }
        main .citations-main-wrapper .cite-right .citation span {
          color: #C13C51; }
