main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url("../images/splash3.jpg") no-repeat top fixed;
  background-size: cover;

  .home-main-wrapper {
    width: 100%;

    .explore-btn {
      position: relative;
      top: 40%;
      left: 73%;

      button {
        color: $white;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        border: none;
        padding: 10px 50px;
        background-color: $red;
        cursor: pointer;

        &:hover {
          background-color: $red-hover;
        }
      }
    }
  }


}