nav {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .nav-main {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 7px 0px rgba(0,0,0,0.1);
    z-index: 100;

    .nav-top {
      height: 10%;
      width: 100%;
      display: flex;

      .logo {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: $red;
        padding: 20px;
        cursor: pointer;

        a {
          width: 100%;
          height: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    .nav-middle {
      height: 80%;
      width: 100%;

      .text-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        p {
          margin-left: 32px;
          margin-top: 30px;
          color: $gray;
          font-size: 30px;
          font-family: 'nagayama_kai', sans-serif;
          font-weight: bold;
        }
      }
    }

    .nav-bottom {
      height: 10%;
      width: 100%;
      display: flex;

      .menu-btn {
        display: flex;
        align-items: center;
        color: $gray;
        font-size: 30px;

        i {
          margin-left: 35px;
          cursor: pointer;
        }
      }
    }
  }

  .nav-menu {
    height: 100%;
    width: 300px;
    padding: 30px 60px;
    position: absolute;
    left: 100px;
    display: flex;
    background-color: $white;
    flex-direction: column;
    z-index: 90;
    box-shadow: 4px 0px 7px 0px rgba(0,0,0,0.1);

    .nav-menu-top {
      height: 20%;
      width: 100%;
      display: flex;
      flex-direction: row;
      text-align: right;

      p {
        color: $gray;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        padding-right: 5px;
      }

      a {
        color: $gray;
        font-size: 18px;
        margin: 0 8px;
        padding-top: 5px;
      }
    }

    .nav-menu-middle {
      height: 58%;
      width: 100%;
    }

    .nav-menu-bottom {
      height: 22%;
      width: 100%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      .nav-item {
        padding-bottom: 18px;
        display: flex;

        .dot {
          height: 17px;
          width: 17px;
          margin-top: 10px;
          margin-right: 15px;
          border-radius: 25px;
        }

        .home-dot {
          background-color: $red;
        }

        a {
          color: $gray;
          text-decoration: none;
          font-size: 25px;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }
  }
}